@charset "utf-8";
/* -CSS Document --*/

@font-face {
  font-family: 'Vazir';
  src: url('Fonts/Vazir.eot');
  src: url('Fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('Fonts/Vazir.woff2') format('woff2'),
       url('Fonts/Vazir.woff') format('woff'),
       url('Fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'B Nazanin';
  src: url('Fonts/BNazanin.eot');
  src: url('Fonts/BNazanin.eot?#iefix') format('embedded-opentype'),
       url('Fonts/BNazanin.woff2') format('woff2'),
       url('Fonts/BNazanin.woff') format('woff'),
       url('Fonts/BNazanin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Vazir', 'B Nazanin', Arial, sans-serif;
}
	  .logo {
            position: fixed;
            top: 20px;
            left: 20px;
            z-index: 1000;
        }

@media only screen and (max-width: 768px) {
    .logo {
        width: 45px;
        height: 45px;
    }
}